div.nav_container{
    background-color: var(--White);
    z-index: 2;
}
nav.wrapper{
    background-color: var(--White);
}
nav.wrapper a{
    line-height: 4;
    cursor: pointer;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.7rem;
    margin: 0.3rem;
    transition: all 0.2s ease-in-out;
}
li:hover{
    border-bottom: 0px;
}
ul{
    padding: 0.5em 0;
    border: 1px solid var(--LightGrayishBlue);
    background-color: var(--White);
    -webkit-box-shadow: 0px 42px 9px 60px rgba(45,49,77,0.6); 
    box-shadow: 0px 42px 9px 60px rgba(45,49,77,0.6);
}
@media screen and (min-width: 1280px){
    ul{
        padding: 0;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }
    li{
        height: 4rem;
        margin: 0 1rem;
    }
    li:hover{
        border-bottom: 4px solid var(--LimeGreen);
    }
}