div.container{
    background-color: var(--White);
}
nav.wrapper a{
    line-height: 4;
    cursor: pointer;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.7rem;
    margin: 0.3rem;
    transition: all 0.2s ease-in-out;
}
li:hover{
    border-bottom: 0px;
}
ul{
    padding: 0.5em 0;
    border: 1px solid var(--LightGrayishBlue);
}
@media screen and (min-width: 1280px){
    ul{
        padding: 0;
        border: 0;
    }
    li{
        height: 4rem;
        margin: 0 1rem;
    }
    li:hover{
        border-bottom: 4px solid var(--LimeGreen);
    }
}