div.hero_container{
    background-color: var(--VeryLightGray);
    background-image: url('../../../images/bg-intro-mobile.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 450px;
    height: 50rem;
}
section.heroText p{
    color: var(--GrayishBlue);
}
section.heroImage > img{
    position: relative;
    top: 2rem;
    
}
@media screen and (min-width: 640px){
    section.heroImage > img{
        position: relative;
        top: -3rem;
        
    }
}
@media screen and (min-width: 1280px){
    div.hero_container{
        background-color: var(--VeryLightGray);
        background-image: url('../../../images/bg-intro-desktop.svg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50% 150%;
        height: 600px;
    }
    section.heroImage > img{
        position: absolute;
        top: -6rem;
        right: -15rem;
    }
}