:root{
    --DarkBlue: #2d314d;
    --LimeGreen: #31d35c;
    --BrightCyan: hsl(192, 70%, 51%;);
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}